fastapi
uvicorn
python-multipart
pdf2image
opencv-python-headless
pillow
google-genai
psycopg2-binary
sqlalchemy
alembic
python-dotenv
pydantic-settings
pydantic[email]
celery
redis
pgvector
bcrypt
PyJWT
